<div class="header">Login</div>
<div class="container">
  <p>{{message}}</p>
  <form [formGroup]="anmeldeForm" (submit)="submit()">
    <div class="form-group-flex">
      <mat-form-field appearance="outline">
        <mat-label>Account</mat-label>
        <input matInput type="text" formControlName="acc">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Passwort</mat-label>
        <input matInput type="password" formControlName="pw">
      </mat-form-field>
      
      <div>
        <button mat-flat-button type="submit" *ngIf="!authService.isLoggedIn">Login</button>
        <button mat-flat-button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
      </div>
    </div>
  </form>
</div>
