<div *ngIf="user$ | async as user">
  <div class="userdata">
    {{user.benutzername}}
    {{user.rolle}}
    {{user.kundenname}}
    <div *ngFor="let produkt of user.produkte">
      <a href="{{produkt.produktlink}}?id={{user.id}}">{{produkt.produktname}}</a>
    </div>
  </div>

  <div *ngIf="user.rolle === 'Entwickler'">
    test entwickler
  </div>

  <div *ngIf="user.rolle === 'Admin'">
    <h2>Neuen Benutzer Anlegen</h2>
    <form [formGroup]="benutzerForm" (submit)="submit(user.kundenname)">
      <div class="form-group-flex">
        
        <mat-form-field appearance="outline">
          <mat-label>Benutzername</mat-label>
          <input matInput type="text" formControlName="acc">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Passwort</mat-label>
          <input matInput type="password" formControlName="pw">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Rolle</mat-label>
          <input matInput type="text" formControlName="role">
        </mat-form-field>
        
        <div>
          <button mat-flat-button type="submit">Benutzer Anlegen</button>
        </div>
      </div>
    </form>
  </div>
  
</div>